.chatlist {
    flex: 1;
    overflow-y: scroll;

    .search {
        position: sticky;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;

        .searchbar {

            background-color: rgba(17, 40, 25, 0.5);
            flex: 1;
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;



            input {

                color: white;
                border: none;
                background: transparent;
                flex: 1;

            }

            img {
                width: 50px;
                padding: 10px;
                cursor: pointer;
            }


        }

        .add {
            width: 30px;
            cursor: pointer;
            background-color: rgba(17, 40, 25, 0.5);
            margin: 10px;
            padding: 5px;
            border-radius: 6px;
        }





    }



    .item {


        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;

        img {

            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;

        }

        .texts {

            display: flex;
            flex-direction: column;

            gap: 10px;

            span {
                font-weight: 500;

            }

            p {
                font-size: 13px;
                font: 100;

            }
        }

    }
}